/*color de fonfo*/
body{
background: #ffc90e;
}

/*Creador de la fuente usada*/
@font-face{
	font-family: "caveat";
	src: url("recursos/Caveat.ttf");
}

div#botones{
	width: 99vw;

}

/*Botones de navegacion con su hover*/
.boton{
	background-color: #8b0d32;
	color: white;
	width: 32%;
	height: 100px;
	font-size: 40px;
	font-family: "caveat";
	border-radius: 20px;
	margin: 4px;
}

.boton:hover{
	background-color: #F5F5F5;
	color: #8b0d32;
	width: 32%;
	height: 100px;
	font-size: 40px;
	font-family: "caveat";
	border-radius: 20px;
	margin: 4px;
}

/*Ocupado de los titulos de los diferentes apartados*/
.Titulos{
	font-size: 100px;
	font-family: "caveat";
}

/*Formato basico para la mayoria del texto*/
.listas{
	font-size: 50px;
	font-family: "caveat";
}

/*Contenedort de las div de informacion*/
div#informacion{
	width: 99vw;
}

/*Contenedor de las tablas*/
.tables{
	width: 40vw;
}

/*para poco contenido*/
.des{
	font-size: 35px;
	font-family: "caveat";
}

/*Formato del pie*/
.pie{
	background-color: black;
	width: 99vw;
	height: 150px;
	color: white;
	font-family: "caveat";
	display: flex;
	flex-direction: row;
}

.relleno{
	width: 20vw;
}

.InfoPie{
	width: 30vw;
}